<!DOCTYPE html>
<html lang="en">
<head>
<style></style>
<link rel="stylesheet" type="text/css" href="maintext.css">
    <title>About Betty Foods</title>
</head>

<body>

    <header class="main-header">
        <div class="container">
        <h1 class="first-head">Betty Foods</h1>
        <ul class="main-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="index.html">Contact</a></li>
        </ul>
    </div>
    </header>
    <div class="container">
    <img class="banner1" alt="" src="13.jpg" />
    <div class="desert.jpg">
        <h2>About Betty Foods</h2>       
        
    <div id="post">
     <h3 class="position">About Betty</h3>
     <div class="paragraph clearfix"></div>