<!DOCTYPE html>
<html lang="en">
<head>
<style></style>
<link rel="stylesheet" type="text/css" href="maintext.css">
    <title>Contact</title>
</head>

<body>

    <header class="main-header">
        <div class="container">
        <h1 class="first-head">Contact</h1>
        <ul class="main-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html">About</a></li>
        </ul>
    </div>
    </header>

     <h3>Contact Form</h3>
    <id="#contact"></id>
    <form class="form-section">
        <fieldset>
            <label>Name:</label>
            <input required="" type="text" placeholder="Username" autocomplete="on" />
            <br />
            <label>Telephone:</label>
            <input required="" type="tel" />
            <br />
            <label>Email:</label>
            <input role="link" required="" type="email" />
            <br />
            <label>Address:</label>
            <input type="text" />
            <br />
            <input type="button" value="SUBMIT" />
            <br />
        </fieldset>
    </form>