<!DOCTYPE <!DOCTYPE html>
<html lang="en">
<head>
<title>My Portfolio</title>

<body>
    <header>
        <h1>Steven Oyeyemi Adeniji</h1>
        <ul>
            <li>Where I've Been</li>
            <li>What I'm Doing</li>
            <li>What I Hope To Do</li>
        </ul>
    </header>
    <hr>
    <h3><em>Where I've Been</h3></em>
    <p>I was born in Lagos but lived in Ogun.  During my stay at Lagos, I obtained my First Leaving<br>
    School Certificate and moved to Ogun to continue my Education. After moving from where I was brought <br>
    up, it was complicated to adapt with the environment but subsequently, I started familiarizing myself with people.<br>
    Also, finalizing my Secondary School Program wasn't easy because I'm thinking about what I will do wit my friends<br>
    and having another life or trying to meet another people when getting to Higher Institution. I got Admission into Federal Polytechnic, Ilaro and life there was wonderful due to the people I became friends with.<br> We do alot of things and reason along with one another.</p>
    <hr>
    <h3><em>What I'm Doing</h3></em>
    <p>I am now pursuing my dreams in which I'm running a program called <strong>CODELAGOS</strong> which deals with Web Development and it has been quite interesting.<br>
    Also, I am currently working at <strong>ELIZADE AUTOLAND JAC</strong> which my role there is a System Administrator where I help looking at the problems of their system and also manage <br>
    their website.</p>
    <hr>
    <h3><em>What I Hope To Do</em></h3>
    <p>I hope to do alot of things but the cogent thing right now is to focus on my programming course because I still have a long way to go. I'd love to be a programer so as to develop a software in which an organization<br> can make use of and also continue learning for self development.</p>
</body>
</head>
</html>